
    .header {
        /* background-color: #01002a; */
        background-image: url("images/background.jpg");
        background-size: cover;
        padding: 20px;
        color: white;
        text-align: left;
        font-size: 24px;
    }
    .subhead-container {
        text-align: left;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .subheader {
        color: #ffffff; 
        font-size: 20px;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    .button-container {
        text-align: center;
    }